*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: normal;
}

/*Header*/
header{
    background: url(../images/apple-pie.jpg) no-repeat center center /cover;
    height:100vh;
    position: relative;
}

header h1{
    color: #fff;
    font-size: 85px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

/*Main*/
main{
    padding: 30px 0;
    width: 70%;
    margin: auto;
}

.border{
    border-bottom: 2px solid #b5b1b1;
}

/*Info Section*/

.info{
    padding-top: 30px;
}

.info > p {
    font-size: 24px;
}

.info_img{
    text-align: center;
    margin: 40px 0 15px 0;
}

/*Content Sections*/
.content{
    padding: 20px 0;
}

.dashed {
    list-style-type: none;
    padding-left: 10px;
    font-size: 20px;
}
.dashed > li:before {
    content: "- ";
    text-indent: -5px;
}

h3{
    font-size: 22px;
    padding: 20px 0;
}

.num {
    counter-reset: list;
    padding-left: 10px;
    font-size: 20px;
}
.num > li {
    list-style: none;
}
.num > li:before {
    content: counter(list) ") ";
    counter-increment: list;
}